@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset general minimalista */
body {
  margin: 0;
  background-color: #111827;
  /* bg-gray-900 */
  color: #ffffff;
  font-family: system-ui, sans-serif;
}

/* Opcional: suavizado */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}