@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset general minimalista */
body {
  margin: 0;
  background-color: #ffffff;
  color: #111111;
  font-family: 'Inter', 'Helvetica Neue', system-ui, sans-serif;
}

/* Opcional: suavizado */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
